body {
    font-family: 'Dancing Script', cursive;
    font-size: 22px;
}
input {
    margin: 10px 20px;
}
fieldset {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
header {
    text-align: center;
    margin-top: 100px;
}
#buttonDiv {
    text-align: center;
    margin-top: 30px
}
