html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
@media screen and (max-width:600px) {
    body {
        background-color: blanchedalmond;
    }
    .headerClass {
        background-color: aqua;
        display: flex;
        justify-content: center;
        font-size: 1.2em;
    }
    .headerClass nav {
        display: none;
    }
    .asides {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 1.2em;
    }
    .main-content {
        font-size: 1.2em;
    }
} 
@media screen and (max-width: 999px) and (min-width:600px) {
    .headerClass {
        background-color: tan;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        align-items: center;
      }
      .headerClass ul {
        list-style: none;
        display: flex;
        padding: 10px;
        font-size: 1.2em;
      }
      .headerClass ul li {
        padding: 10px;

      }
      .main-content {
        font-size: 1.5em;
      }
      .asides {
        display: flex;
        width: 100%;
        justify-content: center;
      }
      .asides ul {
        list-style: none;
      }
      .asides ul li {
        display: flex;
        margin: 10px;
        font-size: 1.1em;
      }
      .aside-one {
        font-size: 1.2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
      }
      .aside-two {
        font-size: 1.2em;
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .main-content {
        margin-left: 5%;
        margin-right: 5%;
      }
    .page-content {
        background-image: url('bookbackground.jpg.jpg');
        background-position: center;
}
}
  @media screen and (min-width: 1000px) {
    
  .headerClass {
    background-color: tan;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
  }
  .headerClass ul {
    list-style: none;
    display: flex;
    padding: 10px;
  }
  .headerClass ul li {
    padding: 10px;
  }
  .main-content {
    
  }
  .asides {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .aside-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
  }
  .aside-two {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-content {
    margin-left: 5%;
    margin-right: 5%;
  }
.page-content {
    background-image: url('bookbackground.jpg.jpg');
    background-position: center;
}
} 