h1, p {
    text-align: center;
}
ol,li {
    text-align: center;
    margin: 0px auto;
    padding: 0px;
    width: 200px;
}
li:hover {
    background-color: orange;
}
li:active {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul, ol {
    list-style: none;
}